<div class="container-fluid py-3">
    <div class="table-card">
        <table style="width:100%">
            <thead>
                <th>Holding</th>
                <th>Ticker</th>
                <th>Qty.</th>
                <th>Avg. Price</th>
                <th>Total Cost</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of portfolio">
                    <td>{{item['full_name']}}</td>
                    <td>{{item['ticker']}}</td>
                    <td>{{item['totalVolume']}}</td>
                    <td>{{item['totalPrice'] / item['totalVolume'] | currency: 'USD'}}</td>
                    <td>{{item['totalPrice'] | currency: 'USD'}}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
